<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <h2 class="card-header"> {{titulo}} </h2>
  <div class="card-body">
    <form #clienteForm="ngForm" class="row g-3">

      <!-- Nombre -->
      <div class="form-group col-md-5">
        <label for="nombre" class="form-label"> Nombre </label>
        <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel">
        <!-- required minlength="4" -->
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            Nombre es requerido
          </div>
          <div *ngIf="nombre.errors.minlength">
            Nombre debe tener al menos 4 caracteres
          </div>
        </div>
      </div>

      <!-- Apellido -->
      <div class="form-group col-md-5">
        <label for="apellido" class="form-label"> Apellido </label>
        <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel">
        <!-- required -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required">
            Apellido es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-10">
        <label for="email" class="form-label"> Email </label>
        <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
        <!-- required email -->
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            Email es requerido
          </div>
          <div *ngIf="email.errors.email">
            Email debe tener un formato válido
          </div>
        </div>
      </div>

      <div class="form-group col-4">
        <label for="createAt" class="form-label"> Fecha </label>
        <div style="display: flex; align-items: flex-start;">
          <input [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt"
                 style="display:inline ; width:300px;">
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group col-4">
        <label for="region" class="form-label"> Región </label>
        <div style="display: flex; align-items: flex-start;">
          <select [compareWith]="compararRegion" type="text" class="form-control" [(ngModel)]="cliente.region"
                  name="region" style="width: 500px" required>
            <option [ngValue]="undefined">--- Seleccionar Región ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region"> {{region.nombre}} </option>
          </select>
        </div>
      </div>

      <div class="form-group col-12">
        <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock"
                [disabled]="!clienteForm.form.valid"> Crear
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">
            Editar
          </button>
        </ng-template>
      </div>

    </form>
  </div>
</div>
